<div class="mx-auto w-full px-4 pb-12 sm:px-6 lg:w-full lg:px-8">
    <h2 class="mb-4 font-brand-primary text-2xl font-extrabold tracking-tight text-stone-200 sm:text-3xl"
        style="text-shadow:10px 10px 10px rgba(0,0,0,.5), 20px 20px 20px rgba(0,0,0,.4), 30px 30px 30px rgba(0,0,0,.1)">
        <span class="text-green-700">My</span> <span class="dark:text-white text-black opacity-50">
            Curriculm Vitae</span>
    </h2>


    <div class="flex justify-center items-center opacity-80 custom-cv relative">
        <img src="assets/images/cv.png" alt="First Page of CV" (click)="downloadCV()">
    </div>

</div>